@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

.JobComponent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust min-width as needed */
  gap: 50px;
  padding:20px;
  color: #0D1B2A;
}

.Component {
  background-color: #F7F7F7;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  height: 50vw; /* Set a fixed height for all components */
  /* Frame */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.Company{
  font-family:'Julius Sans One';
  font-size: 2vw;
}

.Skills {
  display: inline-block;
}

.Position{
  font-family:"Junge";
  font-size: 1.2vw;
}

.Skill-Btn {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Ensure text is centered both vertically and horizontally */
  text-align: center;
  width: auto; /* Adjust width based on content */
  min-width: 5vw; /* Minimum width to ensure button doesn't get too small */
  height: 4vh; /* Fixed height */
  font-size: 1.2vw;
  background-color: #778DA9;
  font-family: "Junge";
  border: none;
  border-radius: 15px;
  padding: 0 10px; /* Padding adjusted to maintain text fit */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 1vw 0 1vw; /* Margin adjustments */
}

img {
  position:relative;
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Ensure text is centered both vertically and horizontally */
  text-align: center;
  width: 100%;
  height: 20vw; /* Set the height to 100% of the container */
  object-fit: contain;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

img:hover {
  opacity: 0.8;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: #778DA9;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Media query for responsive layout */
@media (max-width: 768px) {
  .JobComponent {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust min-width as needed */
  }
}
